<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>stt 메뉴</h1>

    <div id="container">
        <button id="openaiR" onclick="click1(this)">녹음</button>
        <button id="openaiY" onclick="click1(this)">Youtube</button>
        <hr>
        <hr>
        <button id="googleR" onclick="click1(this)">녹음</button>
        <button id="googleY" onclick="click1(this)">Youtube</button>
    </div>
</body>
<script>
    function click1(btn) {
        console.log(btn.id)
    }

</script>

</html>